.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active-link{
  background-color: darkorange;
  border-bottom: 3px white;

}

.nav-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 15px 15px 15px 15px;
  margin: 10px 10px 10px 10px;
  background-color: darkorange;
  border-radius: 50px;

}

button {
  background-color: #ff8402;
  border-radius: 100px;
  border-width: 2px;
  border-color: white;
}

#home {
  display: flex;
  flex-direction: column;
  background-color: indianred;
  justify-items: center;
  padding: 15px 15px 15px 15px;
  margin: 10px 10px 10px 10px;
  border-radius: 50px;
}


#login {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: baseline;
  padding: 15px 15px 15px 15px;
  margin: 10px 10px 10px 10px;
}

#blogpost1 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  padding: 15px 15px 15px 15px;
  margin: 10px 10px 10px 10px;
  background-color: rosybrown;
  border-radius: 50px;

}


